<p id="notice"><%= notice %></p>

<p class="form-basic form-row">
  <strong>Name:</strong>
  <%= @faculty.name %>
</p>

<p class="form-basic form-row">
  <strong>Users:</strong>
  <%= @faculty.users %>
</p>

<div style = "text-align:center;">
	<%= link_to 'Edit', edit_faculty_path(@faculty), :class => "button" %> 
	<%= link_to 'Back', "/", :class => "button" %>
</div>
