<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-basic form-row">
    <%= form.label :course_id %>
    <%= form.select :course_id, options_for_select(Course.where(:faculty_id => current_user.id).map{ |x| [ x.course_name, x.id] }  )%>
  </div>
  </div>

  <div class="field" , style="text-align: center;">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, id: :schedule_start_time %>
  </div>

  <div class="field", style="text-align: center;">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time, id: :schedule_end_time %>
  </div>

  <div class="form-basic form-row actions">
    <%= form.submit %>
  </div>
<% end %>
