<p id="notice"><%= notice %></p>

<h1>Schedules</h1>

<table>
  <thead>
  <tr>
    <th>Start time</th>
    <th>End time</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @schd.each do |schedule| %>
      <tr>
        <td><%= schedule.start_time %></td>
        <td><%= schedule.end_time %></td>
        <td><%= link_to 'SELECT', select_schedule_path(schedule) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<div style = "text-align:center;">
  <%= link_to 'New Schedule', new_schedule_path, :class => "button" if current_user.usertype == 1%>
</div>

