<!DOCTYPE html>
<html>

  <head>
    <title>PMS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'register', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
  </head>

  <body>
  
    <div class="header wrapper1">
      <strong class="one" style="font-size: 30px;"><%= "Welcome " + current_user.name %></strong>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'button medium square orange two', :style => ' float:right; margin: 10px;' %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'button medium square orange three', :style => ' float:right; margin: 10px;' %>      
    </div>
  
      <div >
        <% if user_signed_in? and current_user.usertype == 0%>       
          <table style="text-align: center; width: 100%;">
            <tr>
              <td>
                <%= link_to "Edit Student Details", edit1_student_path, :class => "random" %>
              </td>    
              <td>
                <%= link_to "Choose Course", choose_course_path, :class => "random"  %>          
              </td>
            </tr>
            <tr >
              <td >
                <%= link_to "My Courses", student_mycourse_path, :class => "random"  %>
              </td> 
              <td >
                <%= link_to "Create Team", create_team_path, :class => "random"  %>
              </td>              
            </tr>          
            <tr >
              <td >
                <%= link_to "Add teamate", add_teammates_path, :class => "random" %>
              </td> 
              <td >
                <%= link_to "New Project", new_project_path, :class => "random" %>
              </td>              
            </tr>            
            <tr >
              <td >
                <%= link_to "My Projects", student_myproject_path, :class => "random"  %>
              </td> 
          </table>     


        <% elsif user_signed_in? and current_user.usertype == 1%>  
          <table style="text-align: center; width: 100%;">
            <tr>
              <td>
                <%= link_to "Edit Faculty Details", edit1_faculty_path, :class => "random"  %>
              </td>    
              <td>
                <%= link_to "Create Course", create_course_path, :class => "random", :onclick => 'return openPopup(this);' %>
              </td>                        
            </tr>
            <tr >
              <td >
                <%= link_to "My Courses", faculty_mycourse_path, :class => "random"  %>
              </td>              
            </tr>
          </table>    

        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'button medium square orange'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'button medium square orange'  %>
        <% end %>
      </div>

  </body>
</html>

<script type="text/javascript">
  function openPopup(link)
  {
    sweetAlert("Approved!")
    return false;
  }
</script>

<style type="text/css">

  body{
    font-color:#607d8b;
  }
  td{
    width:50%;
    height: 45px;
  }
  .random{
    text-decoration: none;
    height: 100%; 
    width: 100%; 
    display: table;
    font-size:200%;
    font-family: "Allerta Stencil", Sans-serif; 
    font-weight: 800; 
    color:#607d8b;
    padding-top:30px;
  }
</style>
