<p id="notice"><%= notice %></p>

<p class="form-basic form-row">
  <strong>Student:</strong>
  <%= @student_course.student_id %>
</p>

<p class="form-basic form-row">
  <strong>Course:</strong>
  <%= @student_course.course_id %>
</p>

<div style = "text-align:center;">
	<%= link_to 'Back', choose_course_path, :class => "button" %>
	<%= link_to "My Courses", student_mycourse_path, :class => 'button' %>
</div>
