<%= form_with(model: submission, local: true, :class => "form-basic") do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <%= form.label :project_id %>

    <%= params[:id] %>
    <%= form.hidden_field :project_id ,:submission_project_id => params[:id] %>
  </div>

  <div class="form-row">
    <%= form.label :abstract %>
    <%= form.text_area :abstract, id: :submission_abstract if Student.where(users_id: current_user.id).size == 1 %>

    <%=  Project.find(params[:id]).abstract if Faculty.where(users_id: current_user.id).size == 1 %>
    <%= form.hidden_field :abstract ,:submission_abstract => Project.find(params[:id]).abstract if Faculty.where(users_id: current_user.id).size == 1 %>
  </div>


   <div class="form-row">

     <%= form.label :feedback if Faculty.where(users_id: current_user.id).size == 1 %>
     <%= form.text_area :feedback, id: :submission_feedback if Faculty.where(users_id: current_user.id).size == 1 %>

  </div>


  <div class="form-row actions">
    <%= form.submit %>
  </div>
<% end %>
