<p id="notice"><%= notice %></p>

<p class="form-basic form-row">
  <strong>Project:</strong>
  <%= @submission.project_id %>
</p>

<p class="form-basic form-row">
  <strong>Report:</strong>
  <%= @submission.report %>
</p>

<p class="form-basic form-row">
  <strong>Feedback:</strong>
  <%= @submission.feedback %>
</p>


<div style = "text-align:center;">
	<%= link_to "My Projects", student_myproject_path, :class => 'navbar-link' %>
</div>

