<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @submission.project_id %>
</p>

<p>
  <strong>Report:</strong>
  <%= @submission.report %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @submission.feedback %>
</p>

<!--ang_brac_here%= link_to 'Edit', edit_submission_path(@submission) %>
<!--ang_brac_here%= link_to 'Back', submissions_path %>-->
<%= link_to "My Projects", student_myproject_path, :class => 'navbar-link' %>

