<%= form_with(model: project, local: true, :class => "form-basic") do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <%= form.label :title %>
    <%= form.text_field :title, id: :project_title %>
  </div>

  <div class="form-row">
    <%= form.label :abstract %>
    <%= form.text_area :abstract, id: :project_abstract %>
  </div>

  <div class="form-row">
    <%= form.label :isapproved %>
    <%= form.label "NO" %>
  </div>

  <div class="form-row">
    <%= form.label :course_id %>


    <%= form.collection_select( :course_id,  StudentCourse.where(:student_id => current_user.id), :course_id, :course_id )%>


  </div>

  <div class="form-row">
    <%= form.label :team_id %>
    <!--angular_bracket_here_%= form.number_field :team_id, id: :project_team_id %>-->

    <%= form.collection_select( :team_id,  StudentTeam.where(:student_id => current_user.id), :team_id, :team_id )%>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
