<p id="notice"><%= notice %></p>

<p class="form-basic form-row">
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p class="form-basic form-row">
  <strong>Abstract:</strong>
  <%= @project.abstract %>
</p>

<p class="form-basic form-row">
  <strong>Isapproved:</strong>
  <%= @project.isapproved %>
</p>

<p class="form-basic form-row">
  <strong>Course:</strong>
  <%= @project.course_id %>
</p>

<p class="form-basic form-row">
  <strong>Team:</strong>
  <%= @project.team_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %>
<%= link_to 'Back', student_myproject_path %>
<%= link_to 'Submission', make_submit_path(@project.id) if @project.isapproved == "YES" and Student.where(users_id: current_user.id).size == 1%>

<%= link_to 'Check Submission', show_project_submissions_path(@project.id) if @project.isapproved == "YES" and Faculty.where(users_id: current_user.id).size == 1%>
