<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @project.abstract %>
</p>

<p>
  <strong>Isapproved:</strong>
  <%= @project.isapproved %>
</p>

<p>
  <strong>Course:</strong>
  <%= @project.course_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @project.team_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %>
<%= link_to 'Back', student_myproject_path %>
<%= link_to 'Submission', make_submit_path(@project.id) if @project.isapproved == "YES" %>


