<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Abstract</th>
    <th>Isapproved</th>
    <th>Course</th>
    <th>Team</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @sub_proj.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.abstract %></td>
        <td><%= project.isapproved %></td>
        <td><%= project.course_id %></td>
        <td><%= project.team_id %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Approve', approve_project_path(project), :onclick => "return openPopup(this)" %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<br>

<script type="text/javascript">
  function openPopup(link)
  {
    a = sweetAlert("Approved!")
    // a.close();
    setTimeout(function(){a.close();},1000);
    return false;
  }
</script>