<p id="notice"><%= notice %></p>

<p class="form-basic form-row">
  <strong>Student:</strong>
  <%= @student_team.student_id %>
</p>

<p class="form-basic form-row">
  <strong>Team:</strong>
  <%= @student_team.team_id %>
</p>

<div style = "text-align:center;">
	<%= link_to "Create Team", create_team_path, :class => "button" %>
	<%= link_to "Add teamate", add_teammates_path, :class => "button" %>
</div>
